body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 10vh;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* flex-direction: column; */
  height: 85vh;
}
#editors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* flex-direction: row; */
  height: 100%;
  /* height: 40%; */
  margin: 20px 0;
  width: 30%;
  /* width: 100%; */
  margin: 5px;
}
.e_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 5px 5px;
  border: 4px solid black;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.e_item h3 {
  margin: 5px 0;
}
.e_item textarea {
  width: 98%;
  height: 90%;
  border: none;
  border-radius:15px;
  outline: none;
  padding: 10px 2px;
}
#display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* height: 60%; */
  width: 70%;
  /* width: 99%; */
  border: 4px solid black;
  border-radius: 15px;
  background-color: black;
  color: white;
  margin: 5px;
}
#display h3 {
  margin: 5px 0;
}
iframe {
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
  border-radius: 15px;
}
